<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/Assets/Images/Logo/Elovo-Logo.png" asp-append-version="true">
    <link rel="stylesheet" href="~/Assets/CSS/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Assets/CSS/responisve.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Assets/CSS/animation.css" asp-append-version="true">
</head>
<body>
    @RenderBody()
    <div class="page-loader" id="pageLoader" aria-hidden="true">
        <div class="loader-mark" aria-label="Loading" role="status">
            <img src="~/Assets/Images/Icons/loader.svg" alt="">
        </div>
    </div>

    <script src="~/Assets/Script/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
